[Unit]
Description=app server service

[Service]
ExecStart=/usr/bin/node server.js
WorkingDirectory=/opt/rochdi/app
Restart=on-success
RestartSec=4
EnvironmentFile=/etc/environment
EnvironmentFile=/opt/rochdi/.env

[Install]
WantedBy=multi-user.target