[Unit]
Description=app server service

[Service]
ExecStart=/usr/bin/node server.js
WorkingDirectory=/opt/rochdi/app
Restart=on-success
EnvironmentFile=/etc/bash.bashrc

[Install]
WantedBy=multi-user.target